html,
body {
  height: 100%;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

.product-card-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
